body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(to right, #f0f5f5, #34516e);
    padding-bottom: 60px;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'%3E%3Ctext x='50%' y='50%' dy='0.35em' text-anchor='middle' fill='rgba(255, 255, 255, 0.1)' font-size='4em' font-family='Courier New' font-weight='bold' letter-spacing='5px'%3E0101010101010101010101010101010101010101010101010101010101010101%3C/text%3E%3C/svg%3E");
    background-size: cover;
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
}

header {
    background-color: #ffffff;
    padding: 0px 10px;
    text-align: center;
    color: white;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#logo {
    max-width: 450px;
    height: auto;
    margin-left: 12px;
}

nav {
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

td {
    background-color: #ecf0f1;
}

nav a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.3s, background-color 0.3s, font-size 0.3s;
    position: relative;
}



nav a:hover {
    color: white;
    background-color: #34516e;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 50x;
}

nav a:hover::after {
    transform: translate(-10px, -50%);
    font-size: 1.2em;

}

section {
    padding: 20px;
    text-align: center;
}

.about-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    nav a {
        float: none;
        width: 100%;
    }

    table,
    th,
    td {
        display: block;
        width: 100%;
    }

    th,
    td {
        box-sizing: border-box;
    }
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #34516e;
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #f0f5f5;
}

footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    text-align: left;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    width: 1000px;

    height: 500px;

    overflow: auto;
    border: 1px solid #ddd;

    position: relative;
}


.content::-webkit-scrollbar {
    width: 12px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #34516e;
    border-radius: 6px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(to right, #f0f5f5, #34516e);
    padding-bottom: 60px;
    overflow-x: hidden;

}


body {
    overflow-y: auto;
}

.section-content {
    position: relative;
}

.section-content h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}



.about-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-item {
    flex: 0 0 30%;

    background-color: #ecf0f1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.about-item h3 {
    font-size: 1.5em;
}

.about-item p {
    font-size: 1em;
}



.about-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    margin-bottom: 60px;/
}

body {

    padding-bottom: 60px;
}


.about-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-item {
    flex: 1;
    background-color: rgb(36, 23, 68);
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}


.slide-up {
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}


.about-item {
    display: flex;
    flex-direction: column;
    background-color: #232f3e;
    color: white;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.about-item-content {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.about-item-image img {
    width: 100%;
    height: auto;
}



footer {

    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.footer-visible {
    transform: translateY(0);
}

.about-item:hover {
    transform: scale(0.98);
    transition: transform 0.2s ease-in-out;
}